Repository recallwei/web-dev-handbook: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: :hammer: update
  .gitignore
  .lintstagedrc.json
Due: none

chore: :hammer: update netlify build script
  netlify.toml
Due: none

chore: :hammer: update
  .cspell.txt
  .husky/commit-msg
  docs/nestjs/_meta.json
  docs/overview/_meta.json
  docs/react-native/_meta.json
  docs/react/_meta.json
  package.json
  rspress.config.ts
Due: eslint --fix, prettier --write

chore: :hammer: update config
  rspress.config.ts
Due: eslint --fix, prettier --write

feat: :sparkles: add font
  styles/index.css
Due: prettier --write

docs: :memo: add react native related
  .cspell.txt
  docs/react-native/_meta.json
  docs/react-native/build/change-app-icon.md
  docs/react-native/build/change-app-name.md
  docs/react-native/release-preparation/_meta.json
  docs/react-native/release-preparation/change-app-icon.md
  docs/react-native/release-preparation/change-app-name.md
Due: none

docs: :memo: update
  docs/react-native/release-preparation/change-app-name.md
Due: none

docs: :memo: react natvie related
  .cspell.txt
  docs/react-native/_meta.json
  docs/react-native/build/_meta.json
  docs/react-native/build/what-to-do-when-build-failed.md
  docs/react-native/faq/_meta.json
  docs/react-native/faq/react-native-flipper.md
  docs/react-native/index.md
  docs/react-native/others/_meta.json
  docs/react-native/others/disable-horizontal-rotation/img/1.png
  docs/react-native/others/disable-horizontal-rotation/index.md
  docs/react-native/tech-stack/_meta.json
  docs/react-native/tech-stack/react-navigation.md
Due: none

chore: :hammer: update deps
  package.json
  pnpm-lock.yaml
Due: none

docs(React Native): :memo: add async store
  docs/react-native/tech-stack/_meta.json
  docs/react-native/tech-stack/async-store.md
  docs/react-native/tech-stack/react-navigation.md
Due: none

docs(React Native): :memo: add some docs
  .cspell.txt
  docs/react-native/_meta.json
  docs/react-native/build/_meta.json
  docs/react-native/build/android.md
  docs/react-native/build/ios.md
  docs/react-native/components/_meta.json
  docs/react-native/components/svg.md
  docs/react-native/development/_meta.json
  docs/react-native/development/google-fonts-import/index.md
  docs/react-native/environment.md
  docs/react-native/faq/_meta.json
  docs/react-native/faq/absolute-positioning-horizontal-centered.md
  docs/react-native/faq/build-failed-solution.md
  docs/react-native/faq/change-statusbar-color/index.md
  docs/react-native/faq/disable-horizontal-rotation/img/1.png
  docs/react-native/faq/disable-horizontal-rotation/index.md
  docs/react-native/faq/emulator-launch-separate-window.md
  docs/react-native/faq/i18n-compatibility.md
  docs/react-native/faq/platform-difference.md
  docs/react-native/faq/splash-screen/index.md
  docs/react-native/faq/what-to-do-when-build-failed.md
  docs/react-native/others/_meta.json
  docs/react-native/release-test/_meta.json
  docs/react-native/release-to-store/_meta.json
  docs/react-native/tech-stack/_meta.json
  docs/react-native/tech-stack/react-navigation.md
  docs/react-native/tech-stack/tamagui.md
Due: none

docs: :memo: add docs
  docs/react-native/release-test/_meta.json
  docs/react-native/release-test/test-flight.md
Due: none

docs: :memo: update docs
  .cspell.txt
  docs/linux/_meta.json
  docs/linux/command.md
  docs/linux/index.md
  docs/nestjs/_meta.json
  docs/nestjs/file-upload/_meta.json
  docs/nestjs/file-upload/tencent-cloud-cos.md
  docs/nestjs/index.md
  docs/react-native/build/_meta.json
  docs/react-native/build/app-center.md
  docs/react-native/build/react-native-code-push.md
  docs/react-native/index.md
  docs/server/_meta.json
  docs/server/index.md
  docs/server/storage.md
Due: none

docs: :memo: update
  .cspell.txt
  docs/_meta.json
  docs/linux/_meta.json
  docs/linux/faq.md
  docs/linux/firewall.md
  docs/linux/index.md
  docs/linux/init-centos.md
  docs/overview/_meta.json
  package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: update
  .cspell.json
  .cspell.txt
Due: none

fix: :bug: type bug
  .cspell.txt
  rspress.config.ts
Due: eslint --fix, prettier --write

chore: :hammer: update
  rspress.config.ts
Due: eslint --fix, prettier --write

chore: update
  styles/index.css
Due: prettier --write

docs: :memo: update docs
  .cspell.txt
  docs/_meta.json
  docs/overview/_meta.json
  docs/overview/index.md
  docs/react-native/_meta.json
  docs/react-native/build/_meta.json
  docs/react-native/build/app-center.md
  docs/react-native/build/code-push.md
  docs/react-native/build/react-native-code-push.md
  docs/react-native/release-to-store/_meta.json
  docs/react-native/release-to-store/app-store.md
  docs/typescript/_meta.json
  docs/typescript/utils.md
  rspress.config.ts
Due: eslint --fix, prettier --write

chore: update prettier config
  .prettierrc.json
Due: none

docs: :memo: update docker related
  docs/docker/_meta.json
  docs/docker/command.md
  docs/docker/docker-compose/_meta.json
  docs/docker/docker-compose/command.md
  docs/docker/index.md
  docs/linux/_meta.json
  docs/linux/command.md
  docs/linux/nano.md
Due: none

chore: :hammer: add word
  .cspell.txt
Due: none

docs: :memo: update docs
  docs/react-native/_meta.json
  docs/react-native/development/_meta.json
  docs/react-native/development/google-fonts-import.md
  docs/react-native/development/images.md
  docs/react-native/techniques/_meta.json
  docs/react-native/techniques/webview.md
  package.json
Due: none

docs: :memo: update
  docs/react-native/components/_meta.json
  docs/react-native/components/dialog.md
  docs/react-native/techniques/_meta.json
  docs/react-native/techniques/share.md
Due: none

docs: :memo: add react native related
  docs/react-native/development/google-fonts-import.md
  docs/react-native/techniques/_meta.json
Due: none

docs: :memo: monorepo related
  docs/monorepo/changeset.md
Due: none

chore: :hammer: update deps
  package.json
  pnpm-lock.yaml
  rspress.config.ts
Due: eslint --fix, prettier --write

docs: :memo: update react native related
  .cspell.txt
  docs/_meta.json
  docs/overview/index.md
  docs/react-native/_meta.json
  docs/react-native/techniques/_meta.json
  docs/react-native/techniques/image-cache.md
  docs/react/_meta.json
Due: none

docs: :memo: jenkins
  .cspell.txt
  docs/linux/init-centos.md
  docs/linux/jenkins.md
  package.json
  pnpm-lock.yaml
Due: none

docs: :memo: update
  docs/linux/_meta.json
  docs/linux/index.md
Due: none

docs: :memo: update
  docs/linux/jenkins.md
Due: none

docs: :memo: add linux related
  .cspell.txt
  docs/linux/_meta.json
  docs/linux/certbot.md
  docs/linux/domain.md
  docs/linux/index.md
  docs/linux/init-centos.md
  docs/linux/nginx.md
  package.json
  pnpm-lock.yaml
Due: none

docs: :memo: update
  .cspell.txt
  docs/linux/certbot.md
  docs/linux/init-centos.md
  docs/linux/nginx.md
Due: none

docs: :memo: add git related
  docs/git/_meta.json
  docs/git/sync-with-multi-origin.md
  package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: update
  docs/react-native/development/_meta.json
  docs/react-native/development/soft-input-.md
  docs/react-native/techniques/_meta.json
  docs/react-native/techniques/image-upload.md
Due: none

docs: :memo: update
  docs/react-native/development/_meta.json
  docs/react-native/development/app-permissions.md
  docs/react-native/development/soft-input.md
  package.json
  pnpm-lock.yaml
Due: none

docs: :memo: add ssh auto connect doc
  docs/linux/_meta.json
  docs/linux/ssh.md
  package.json
  pnpm-lock.yaml
Due: none

docs: :memo: add mongodb init related docs
  .cspell.txt
  docs/mongodb/_meta.json
  docs/mongodb/init.md
Due: none

docs: :memo: update docs
  .cspell.txt
  docs/code/_meta.json
  docs/code/index.md
  docs/git/_meta.json
  docs/git/index.md
  docs/mongodb/_meta.json
  docs/mongodb/index.md
  docs/mongodb/init.md
  docs/monorepo/_meta.json
  docs/monorepo/index.md
  docs/overview/index.md
  docs/react/_meta.json
  docs/react/index.md
  docs/server/_meta.json
  docs/server/index.md
  docs/server/storage.md
  package.json
  pnpm-lock.yaml
Due: none

docs: :memo: add npm private registry related
  .cspell.txt
  docs/monorepo/_meta.json
  docs/monorepo/index.md
  docs/monorepo/nx.md
  docs/npm/_meta.json
  docs/npm/index.md
  docs/npm/verdaccio.md
  docs/overview/index.md
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{html,css,scss})
